* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

body {
    width: 100%;
    height: 100vh;

}

body .container {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/img_background_cadastro.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.card_erro {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    color: black;
    width: 20rem;
    height: 10vh;
    position: absolute;
    border-radius: 0.5rem;
    margin-left: 70%;
    margin-top: -30%;
    transition: all 0.5s ease-out;
}

.card_erro img {
    height: 50%;
}

.card_erro span {
    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
    width: 60%;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

body .container .cont_conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 90%;
    border-radius: 5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

body .container .cont_conteudo .cont_login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: #8F0303;
    border-radius: 0 2rem 2rem 0;

}

body .container .cont_conteudo .cont_login p {
    width: 100%;
    height: auto;
    text-align: center;
}

body .container .cont_conteudo .cont_login img {
    width: 40%;
    height: auto;
}

.btn_padrao {
    width: 70%;
    color: #ffffff;
    font-weight: bold;
    border-radius: 1rem;
    height: 10%;

}

body .container .cont_conteudo .cont_login .btn_login {
    background-color: #ffb300;
    border: none;
}

body .container .cont_conteudo .cont_cadastro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: #FFFFFF;
    height: 100%;
    border-radius: 2rem 0 0 2rem;
}

body .container .cont_conteudo .cont_cadastro .cont_voltar_titulo {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 10%;


}

body .container .cont_conteudo .cont_cadastro .cont_voltar_titulo .voltar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 10%;

}

body .container .cont_conteudo .cont_cadastro .cont_voltar_titulo .voltar img {
    background-color: #8F0303;
    width: 2rem;
    height: 2rem;
    margin: 2rem;
    border-radius: 0.5rem;

}

body .container .cont_conteudo .cont_cadastro p {
    width: 100%;
    height: auto;
    text-align: center;
}

body .container .cont_conteudo .cont_cadastro .cont_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
}

body .container .cont_conteudo .cont_cadastro .cont_inputs label {
    width: 80%;
}

body .container .cont_conteudo .cont_cadastro .cont_inputs .campo_cadastro {
    padding: 0.5rem;
    width: 80%;
    height: 100%;
    border-radius: 1rem;
    border: none;
    background-color: #d9d9d9;
    font-size: 1rem;
}

body .container .cont_conteudo .cont_cadastro .btn_cadastro {
    background-color: #8F0303;
    border: none;
}


body .container .cont_conteudo .cont_cadastro .cont_inputs .checks_cadastro {
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
body .container .cont_conteudo .cont_cadastro .cont_inputs .checks_cadastro .check{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: auto;
}
body .container .cont_conteudo .cont_cadastro .cont_inputs .checks_cadastro .check .text_check{
    height: 50%;
    width: 100%;

}
body .container .cont_conteudo .cont_cadastro .cont_inputs .checks_cadastro .check .check_img{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}
body .container .cont_conteudo .cont_cadastro .cont_inputs .checks_cadastro .check .check_img img{
    width: 50%;

}

body .tela_carregar{
    display: none;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/img_background_carregar.webp);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
body .tela_carregar .container_carregar{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 80%;
    height: 80%;
}

body .tela_carregar .container_carregar .cont_mcqueen{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 22.5%;
}
body .tela_carregar .container_carregar .cont_mcqueen .texto_carregar{
    width: 10%;
    text-align: end;
}
body .tela_carregar .container_carregar .cont_mcqueen #img_mcqueen{
    transition: ease-in 3ms;
    margin-left: 0%;
    width: 20%;
    height: 60%;
}
body .tela_carregar .container_carregar #id_linha_carregar{
    width: 0%;
    height: 5%;
    background-color: #000000;
    border: none;
    border-bottom: 5px solid red;
}
body .tela_carregar .container_carregar #id_linha_branca{
    width: 0%;
    height: 1%;
    background-color: #FFFFFF;
    border: none;
}