* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;

}

body .container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/img/img_background_login.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.alerta_erro {
    display: flex;
    justify-content: center;
    width: 20%;
}

.card_erro {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: black;
    margin-top: 5%;
    margin-left: 70%;
    width: 15rem;
    position: absolute;
    border-radius: 0.5rem;
    border: #ffb300 0.25rem solid;
    padding: 10px;
    margin-right: 10%;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

body .container .cont_conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 90%;
    border-radius: 5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

body .container .cont_conteudo .cont_login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: #8F0303;
    border-radius: 0 2rem 2rem 0;

}

body .container .cont_conteudo .cont_login p {
    width: 100%;
    height: auto;
    text-align: center;
}

body .container .cont_conteudo .cont_login img {
    width: 40%;
    height: auto;
}

.btn_padrao {
    width: 70%;
    color: #ffffff;
    font-weight: bold;
    border-radius: 1rem;
    height: 10%;

}

body .container .cont_conteudo .cont_login .btn_login {
    background-color: #ffb300;
    border: 0.25rem solid #ffffff;
}

body .container .cont_conteudo .cont_cadastro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: #FFFFFF;
    height: 100%;
    border-radius: 2rem 0 0 2rem;
}

body .container .cont_conteudo .cont_cadastro .cont_voltar_titulo {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 10%;


}

body .container .cont_conteudo .cont_cadastro .cont_voltar_titulo .voltar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 10%;

}

body .container .cont_conteudo .cont_cadastro .cont_voltar_titulo .voltar img {
    background-color: #8F0303;
    width: 2rem;
    height: 2rem;
    margin: 2rem;
    border-radius: 0.5rem;

}

body .container .cont_conteudo .cont_cadastro p {
    width: 100%;
    height: auto;
    text-align: center;
}

body .container .cont_conteudo .cont_cadastro .cont_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
}

body .container .cont_conteudo .cont_cadastro .cont_inputs label {
    width: 80%;
}

body .container .cont_conteudo .cont_cadastro .cont_inputs input {
    padding: 0.5rem;
    width: 80%;
    height: 100%;
    border-radius: 1rem;
    border: none;
    background-color: #d9d9d9;
    font-size: 1rem;
}

body .container .cont_conteudo .cont_cadastro .btn_cadastro {
    background-color: #8F0303;
    border: none;
}