@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/public-pixel');

html {
    scroll-behavior: smooth;
}

.header_landing_page {
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 999;
}

.header_landing_page .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 15px -4px #00000075;
    backdrop-filter: blur(2.5px);
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.header_landing_page .container .cont_links {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    padding: 1vh;
}

.header_landing_page .container .cont_links .link {
    transition: ease-in-out 0.25s;
}

.header_landing_page .container .cont_links .link:hover {

    transition: ease-in-out 0.25s;
}

.header_landing_page .container .cont_links .fontPixel {
    font-size: 0.5rem;
}


.header_landing_page .container .cont_logo {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 1vh;
}


.header_landing_page .container .cont_btns_autenticar {
    display: flex;
    width: 10%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 1vh;
}

.header_landing_page .container .cont_btns_autenticar hr {
    height: 15%;
    margin: 0;
}

.header_landing_page .container .cont_btns_autenticar .btn_autenticar {
    border: none;
    background-color: transparent;
    color: white;
    font-family: 'Montserrat', Helvetica, sans-serif;
}

.logo {
    width: 80%;
}

.fontPixel {
    font-family: 'Public Pixel', sans-serif, Arial, Helvetica, sans-serif;
    color: white;
}

.fontPixelBlack {
    font-family: 'Public Pixel', sans-serif, Arial, Helvetica, sans-serif;
    color: black;
}

.fontWhite {
    color: white;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.fontBlack {
    color: black;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.fontRed {
    color: #8F0303;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.fontYellow {
    color: #bb9900;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.titulo {
    font-size: 3rem;
    font-weight: bold;
}

.subtitulo {
    font-size: 2rem;
    font-weight: normal;

}

.descricao {
    font-size: 1.25rem;
    font-weight: normal;

}

.textoLarge {
    font-size: 1.65rem;
}

.textoMedium {
    font-size: 1rem;
    font-weight: normal;
}

.textoSmall {
    font-size: 0.75rem;
    font-weight: normal;
}

.textoSmaller {
    font-size: 0.5rem;
    font-weight: normal;
}

.bolder {
    font-weight: bolder;
}

.boldMedio {
    font-weight: 600;
}

.link {
    text-decoration: none;
    font-size: 0.75rem;
    color: white;
}

.link:hover {
    font-weight: bold;
    color: white;
}


body .tela_carregar {
    display: none;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/img_background_carregar.webp);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

body .tela_carregar .container_carregar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 80%;
    height: 80%;
}

body .tela_carregar .container_carregar .cont_mcqueen {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 22.5%;
}

body .tela_carregar .container_carregar .cont_mcqueen .texto_carregar {
    width: 10%;
    text-align: end;
}

body .tela_carregar .container_carregar .cont_mcqueen #img_mcqueen {
    transition: ease-in 3ms;
    margin-left: 0%;
    width: 20%;
    height: 60%;
}

body .tela_carregar .container_carregar #id_linha_carregar {
    width: 0%;
    height: 5%;
    display: flex;

    align-items: flex-start;

    background-color: #000000;
    border: none;
    border-bottom: 5px solid red;
}

body .tela_carregar .container_carregar #id_linha_branca {
    width: 0%;
    height: 1%;
    background-color: #FFFFFF;
    display: flex;

    align-items: flex-start;

    border: none;
}