@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


.header_landing_page {
    width: 100%;
    height: 10vh;
    position: fixed;
}

.header_landing_page .container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 15px -4px #00000075;
    backdrop-filter: blur(2.5px);
    font-family: 'Montserrat', Helvetica, sans-serif;

}

.header_landing_page .container .cont_links {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    padding: 1vh;
}

.header_landing_page .container .cont_links .link {
    text-decoration: none;
    color: white;
}

.header_landing_page .container .cont_logo {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    padding: 1vh;
}


.header_landing_page .container .cont_btns_autenticar {
    display: flex;
    width: 10%;
    justify-content: space-evenly;
    padding: 1vh;
}

.header_landing_page .container .cont_btns_autenticar .btn_autenticar {
    border: none;
    background-color: transparent;
    color: white;
    font-family: 'Montserrat', Helvetica, sans-serif;
}
.logo {
    width: 80%;
}

.ativo {
    font-weight: bolder;
}




.fontWhite{
    color: white;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.fontBlack{
    color: black;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.titulo {
    font-size: 3.5rem;
    font-weight: bold;
}
.subtitulo {
    font-size: 2rem;
    font-weight: normal;
    
}
.descricao{
    font-size: 1.75rem;
    font-weight: normal;
    
}
.texto{
    font-size: 1rem;
    font-weight: normal;
}
.bolder{
    font-weight: bolder;
}
.boldMedio{
    font-weight: 600;
}