*{
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background: url('../assets/img/img_background_escolha.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.container .titulo{
    height: 10%;
    position: absolute;
}
.container .container_instrucoes {
    width: 70%;
    height: 70%;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;

}
.container .container_instrucoes p{
    width: 50%;
    text-align: center;
}

.container .container_instrucoes .cont_orientacoes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container .container_instrucoes .cont_orientacoes .texto_intrucao{
    width: 35%;
}
.container .container_instrucoes .cont_imagens {
    display: flex;
    height: 20%;
    justify-content: space-around;
    flex-direction: row;
}

.container .container_instrucoes .cont_imagens img {
    width: 100%;
}
.container .container_instrucoes .btn_escolher_competidor{
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
    width: 30%;
    height: 5%;
}

.container .container_corredores{
    width: 100%;
    height: 90%;

}
.container .container_corredores .cont_escolhas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    width: 50%;
    height: 100%;
}
.container .container_corredores .cont_escolhas .campo_corredores{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    background-color: black;
    height: 10%;
    color: white;
    border:  0.2em  solid white;
    border-left: none;
    border-radius: 0 1rem 1rem 0;
}
.container .container_corredores .cont_escolhas .corredor{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    background-color: #595959;
    height: 10%;
    border:  0.2em  solid white;
    border-left: none;
    color: white;
    border-radius: 0 1rem 1rem 0;
}
.container .container_corredores .cont_escolhas .corredor img{
    width: 10%;
}