body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
}

.container .popup_end_game {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2rem;
    background-color: #ffffff;
    height: 70%;
    transition: ease-in-out 2s;
    width: 70%;
}

.container .popup_end_game img {
    width: 20%;
    transition: ease-in-out 2s;
}
.container .popup_end_game .fontPixelBlack {
    width: 60%;
    text-align: center;
    transition: ease-in-out 2s;
}

.container .popup_end_game .btn_voltar {
    
    width: 30%;
    transition: ease-in-out 2s;
    height: 7.5%;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 1rem;
    font-size: 0.75rem;
}
.cont_jogo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    align-items: center;
     width: 100%;
    height: 100%;
}



#grid {
    height: 85%;
    width: 65%;
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-rows: 7.5% 10% 12.5% 15% 17.5% 20% 11.25% 6.25%;
    border-radius: 3rem;
    overflow: hidden;
    border: 3px solid #ffffff;
}

#cacto {
    display: none;
    width: 80%;
    height: 100%;
    z-index: 100;


    justify-self: center;

}
#img_bola_feno {
    display: none;
    width: 60%;
    height: 100%;
    z-index: 101;
    justify-self: center;

}
#img_barril {
    display: none;
    width: 80%;
    height: 100%;
    z-index: 100;

    justify-self: center;
}
#cont_carro {
    z-index: 999;
    width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cont_carro img{
    width: 80%;
    height: 80%;
}
.div_cronometro_pontuacao{
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    z-index: 999;
    color: white;
}
.div_pontuacao{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    grid-area: 1/4;
    color: white;
}
.div_pontuacao:hover{
    font-size: large;
}
.partesPista {
    background-color: black;

    width: 100%;
    height: 100%;
}

.partesPistaEsquerdaCFaixa {
    border-right: 5px solid white;
    border-left: 30px solid red;
    box-sizing: border-box;
}
.partesPistaDireitaCFaixa {
    border-right: 30px solid red;
    border-left: 5px solid white;
    box-sizing: border-box;
}

.partesPistaMeioCFaixa {
    border-left: 5px solid white;
    border-right: 5px solid white;
    box-sizing: border-box;
}
.bordaEsquerda{
    border-left: 30px solid white;
    box-sizing: border-box;
}
.bordaDireita{
    border-right: 30px solid white;
    box-sizing: border-box;

}
.lines{
    display: grid;

    grid-template-columns: 1/3, 1/3, 1/3;
}

.posicao_line1{
    grid-area: 1 / 2 / 2 / 5;
}
.posicao_line2{
    grid-area: 2 / 2 / 3 / 5;
}
.posicao_line3{
    grid-area: 3 / 2 / 4 / 5;
}
.posicao_line4{
    grid-area: 4 / 2 / 5 / 5;
}
.posicao_line5{
    grid-area: 5 / 2 / 6 / 5;
}
.posicao_line6{
    grid-area: 6 / 2 / 7 / 5;
}
.posicao_line7{
    grid-area: 7 / 2 / 8 / 5;
}
.posicao_line8{
    grid-area: 8 / 2 / 9 / 5;
}

#partePista1 {
    grid-column: 1;

}

#partePista2 {
    grid-column: 2;

}

#partePista3 {
    grid-column:3;
}

#partePista4 {
    grid-column: 1;
}

#partePista5 {
    grid-column: 2;
}

#partePista6 {
    grid-column: 3;
}

#partePista7 {
    grid-column: 1;
}

#partePista8 {
    grid-column: 2;

}

#partePista9 {
    grid-column: 3;

}

#partePista10 {
    grid-column: 1;
}

#partePista11 {
    grid-column: 2;
}

#partePista12 {
    grid-column: 3;
}

#partePista13 {
    grid-column: 1;

}

#partePista14 {
    grid-column: 2;
}

#partePista15 {
    grid-column: 3;

}

#partePista16 {
    grid-column: 1;
}

#partePista17 {
    grid-column: 2;
}

#partePista18 {
    grid-column: 3;
}

#partePista19 {
    grid-column: 1;
    
}
#partePista20 {
    grid-column: 2;
}
#partePista21 {
    grid-column: 3;
}
#partePista22 {
    grid-column: 1;
}
#partePista23 {
    grid-column: 2;

}
#partePista24 {
    grid-column: 3;
}

.arredores {
    width: 100%;
    height: 100%;
    background-color: #CC6633;
}

#arredor1 {
    grid-area: 1/1;
}

#arredor2 {
    grid-area: 1/5;
}

#arredor3 {
    grid-area: 2/1;
}

#arredor4 {
    grid-area: 2/5;
}

#arredor5 {
    grid-area: 3/1;
}

#arredor6 {
    grid-area: 3/5;
}

#arredor7 {
    grid-area: 4/1;
}

#arredor8 {
    grid-area: 4/5;
}

#arredor9 {
    grid-area: 5/1;
}

#arredor10 {
    grid-area: 5/5;
}

#arredor11 {
    grid-area: 6/1;
}

#arredor12 {
    grid-area: 6/5;
}

#arredor13 {
    grid-area: 7/1;
}

#arredor14 {
    grid-area: 7/5;
}

#arredor15 {
    grid-area: 8/1;
}

#arredor16 {
    grid-area: 8/5;
}

