* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;

}

body .container {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/img/img_background_login.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

body .container .cont_conteudo {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    border-radius: 5rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

body .container .cont_conteudo .cont_cadastro {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: #8F0303;
    border-radius: 2rem 0 0 2rem;

}

body .container .cont_conteudo .cont_cadastro p{
    width: 100%;
    height: auto;
    text-align: center;
}
body .container .cont_conteudo .cont_cadastro img {
    width: 40%;
    height: auto;
}

.btn_padrao {
    width: 70%;
    color: #ffffff;
    font-weight: bold;
    border-radius: 1rem;
    height: 10%;

}

body .container .cont_conteudo .cont_cadastro .btn_cadastro {
    background-color: #BA9F61;
    border: 0.25rem solid #ffffff;
}

body .container .cont_conteudo .cont_login {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: #FFFFFF;
    height: 100%;
    border-radius: 0 2rem 2rem 0;
}
body .container .cont_conteudo .cont_login p {
    width: 100%;
    height: auto;
    text-align: center;
}

body .container .cont_conteudo .cont_login .cont_inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
}

body .container .cont_conteudo .cont_login .cont_inputs label {
    width: 80%;
}
body .container .cont_conteudo .cont_login .cont_inputs input {
    padding: 0.5rem;
    width: 80%;
    height: 15%;
    border-radius: 1rem;
    border: none;
    background-color: #d9d9d9;
    font-size: 1.25rem;
}

body .container .cont_conteudo .cont_login .btn_login {
    background-color: #8F0303;
    border: none;
}