body {
    width: 100%;
    height: 120vh;
    display: flex;
    background-color: black;
    box-sizing: border-box;

    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.container_imagem {
    width: 40%;
    height: 100%;
}

.container_imagem img {
    width: 100%;
    height: 100%;
}

.container_textos {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 90%;
    justify-content: center;
    align-items: center;

}

.container_textos .container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container_textos .container .campo {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 2rem;

    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
}