body {
    width: 100%;
    height: 130vh;
    display: flex;
    background-color: black;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.container_imagem {
    width: 40%;
}
.container_imagem img {
   
  height: auto;
  width: 100%;
}

.container_textos {
    display: flex;
    margin-top: 15rem;
    flex-direction: column;
    width: 60%;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.container_textos .container {
    width: 80%;
    margin-top: 15rem;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.container_textos .container .campo {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 2rem;

    width: 100%;
    background-color: #d9d9d9;
}