body {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: black;
    box-sizing: border-box;
    justify-content: space-around;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container_imagem {
    width: 40%;
}
.container_imagem img {
  height: auto;
  width: 100%;
}

.container_textos {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    
}

.container_textos .container {
    width: 80%;
    height: 80%;
    border-radius: 2.5rem;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container_textos .container .textoPersonagem{
    width: 80%;
}