
* {
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
}

.secoes {
    width: 100%;
    height: 100vh;
}

.video {
    width: 100%;
    height: 100%;
    image-rendering: crisp-edges;
}

/* SEÇÃO UNIVERSO */

#universo_carros .container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#universo_carros .container .cont_titulo {
    width: 85%;
}

#universo_carros .container .cont_line_conteudo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#universo_carros .container .cont_line_conteudo img {
    border-radius: 2vh;
    width: 40%;
}

#universo_carros .container .cont_line_conteudo hr {
    height: 100%;
    border: 2.5px solid red;
}

#universo_carros .container .cont_line_conteudo p {
    width: 30%;
}
/* SEÇÃO FILMES */

#filmes .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#filmes .container .cont_titulo {
    width: 90%;
}

#filmes .container .cont_titulo hr {
    width: 60%;
    border: 2.5px solid red;
}

#filmes .container .cont_titulo .titulo {
    padding: 2rem;
}

#filmes .container .cont_titulo .cont_hr {
    display: flex;
    width: 100%;
}

#filmes .container .cont_titulo .cont_hr #hr1 {
    width: 40%;
    border: 2.5px solid transparent;
}

#filmes .container .cont_titulo .cont_hr #hr2 {
    width: 60%;
    border: 2.5px solid #FCF05F;
}

#filmes .container .cont_cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

#filmes .container .cont_cards .card {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5%;
}

#filmes .container .cont_cards .card img {
    border-radius: 5% 5% 0px 0px;
}

#filmes .container .cont_cards .card .cont_line_textos {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

/* SEÇÃO PERSONAGENS */

#personagens .container {

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#personagens .container .cont_titulo {
    display: flex;
    flex-direction: column;
}

#personagens .container .cont_titulo .cont_hr {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#personagens .container .cont_titulo .cont_hr #hr1 {
    border: 2.5px solid #FCF05F;
    width: 50%;
}

#personagens .container .cont_titulo .cont_hr #hr2 {
    border: 2.5px solid red;
    width: 50%;
}

#personagens .container .cont_lines_card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#personagens .container .cont_lines_card .line_cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#personagens .container .cont_lines_card .line_cards .subtitulo {
    width: 80%;
}

#personagens .container .cont_lines_card .line_cards .cont_slide {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.btn_setas{
    background-color: transparent;
    border: none;
}
#personagens .container .cont_lines_card .line_cards .cont_slide .img_seta{
    width: 2rem;
    height: 2rem;

}
#personagens .container .cont_lines_card .line_cards .cont_cards {
    width: 85%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30vw;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 1rem;
    scrollbar-width: none;
}
#personagens .container .cont_lines_card .line_cards .cont_cards::-webkit-scrollbar {
    display: none;
}

#personagens .container .cont_lines_card .line_cards .cont_cards .card {
    width: 30vw;
    height: 30vh;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    border: 1.5px solid #d9d9d9;
}

#personagens .container .cont_lines_card .line_cards .cont_cards .card .cont_textos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#personagens .container .cont_lines_card .line_cards .cont_cards .card .cont_textos .descricao {
    width: 80%;
}
#personagens .container .cont_lines_card .line_cards .cont_cards .card .cont_textos .texto {
    width: 80%;
}

#personagens .container .cont_lines_card .line_cards .cont_cards .card .cont_textos a{
    width: 100%;
    display: flex;
    justify-content: center;
}
#personagens .container .cont_lines_card .line_cards .cont_cards .card .cont_textos .cont_btn {
    width: 80%;
}

#personagens .container .cont_lines_card .line_cards .cont_cards .card .cont_textos .cont_btn .btn_saiba_mais {
    width: 40%;
    height: 5vh;
    background-color: red;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 0.85rem;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.line_cards {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



/* SEÇÃO LUGARES ICÔNICOS */
#lugares_iconicos .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#lugares_iconicos .container .cont_slider{
    display: flex;
    justify-content: center;
    align-items: center;
}
#lugares_iconicos .container .cont_lugares{
    width: 85%;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 1rem;
    scrollbar-width: none;
}

#lugares_iconicos .container .cont_lugares .card_lugar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lugares_iconicos .container .cont_lugares .card_lugar .container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}
#lugares_iconicos .container .cont_lugares .card_lugar .container .cont_imagem{
    width: 50%;
    height: 100%;
}
#lugares_iconicos .container .cont_lugares .card_lugar .container img{
    border-radius: 0 2rem 2rem 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}
#lugares_iconicos .container .cont_lugares .card_lugar .container .cont_textos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 50%;
}
#lugares_iconicos .container .cont_lugares .card_lugar .container .cont_textos .subtitulo{
    width: 80%;
}
#lugares_iconicos .container .cont_lugares .card_lugar .container .cont_textos .descricao{
    width: 80%;
}

/* SEÇÃO MINHA EXPERIÊNCIA */
#minha_experiencia .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#minha_experiencia .container h1{
    width: 80%;
    
}

#minha_experiencia .container .cont_line{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#minha_experiencia .container .cont_line hr {
    border: 2px solid white;
    height: 100%;
}
#minha_experiencia .container .cont_line .descricao {
    width: 40%;
    font-size: 1.75rem;    
}
#minha_experiencia .container .cont_line .img_minha_experiencia {
    border-radius: 2rem;
}
#rodape{
    width: 100%;
    height: 30vh;
}
#rodape .container{
    width: 100%;
    height: 40vh;
    background-color: #606060;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center;
}
#rodape .container .cont_line{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
#rodape .container .cont_line .cont_column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#rodape .container .cont_line .foto_pedro{
    width: 15rem;
    height: 15rem;
    border-radius: 100% ;
}