
/* Carrossel */
.whapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.whapper .title_pilotos {
    font-family: 'upheavtt';
    font-size: 40px;
    color: #fff;
    margin-bottom: 0;
}

.whapper .carrossel {
    width: 85%;
    /* cards na horizontal */
    display: grid;
    grid-auto-flow: column;
    /* só vai ficar 3 colunas na telas */
    grid-auto-columns: calc((100%/3) - 12px);
    gap: 16px;
    /* esconder qualquer conteúdo que ultrapasse os limites do container. */
    place-items: center;
    overflow: hidden;
}

.title_pilotos {
    width: 85%;
    display: flex;

}

.card {
    height: 420px;
    width: 350px;
    list-style: none;
}

.card video {
    width: 100%;
    height: 250px;
}

.card .title {
    width: 100%;
    height: 30px;
    font-size: 20px;
    color: #fff;
    margin: 0;
}

.card .descricao {
    font-size: 14px;
    color: #c6c6c6;
}

.card button {
    height: 35px;
    width: 100px;
    border: none;
    border-radius: 2px;
    background-color: #FF0000;
    color: #fff
}


.carrossel.dragging .card {
    cursor: grab;
    user-select: none;
}